<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<!--
		<add key="DB" value="Access"/>
		<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Database Password=;User ID=admin;Data source=G:\\data.mdb"/>

		<add key="Scheme_ID" value="80fc84be-34e0-4d62-93b2-4159df9c4fa8"/>
	-->

    <add key="Scheme_ID" value="61829844-215c-41b4-bec4-7ba8c60a322a"/>
    <add key="DB" value="MySql"/>
    <add key="ConnectionString" value="Host=127.0.0.1;port=3306;Initial Catalog=db_YX1812001;User ID=root;Password=root;charset=gb2312"/>
    

		<!--不需修改-->
		<add key="DataAccess.BaseAssemeblyName" value="UserModule"/>
		
		<add key="DataAccess.AssemblyName" value="SchemeModule"/>


		<!--begin 皮肤注入-->
		<add key="DefaultSkin" value="DeepCyan.ssk"/>
		<add key ="Skin1" value="CalmnessColor2.ssk"/>
		<add key ="Skin2" value="mp10purple.ssk"/>
		<add key ="Skin3" value="MSN.ssk"/>
		<add key ="Skin4" value="DeepCyan.ssk"/>
		<add key ="Skin5" value="office2007.ssk"/>
		<add key ="Skin6" value="XPBlue.ssk"/>
		<!--end 皮肤注入-->
		
		<!--
		<add key="DB" value="SqlServer"/>
		<add key="ConnectionString" value=""/>
		-->
	</appSettings>
</configuration>