<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
		<add key="DB" value="Access"/>
		<add key="ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Database Password=;User ID=admin;Data source=G:\\data.mdb"/>

		<add key="Scheme_ID" value="80fc84be-34e0-4d62-93b2-4159df9c4fa8"/>
	-->
    <!--蓄电池充放电试验台-->
    <!--<add key="Scheme_ID" value="447856c3-fd75-403b-9169-09463f8ae52a"/>-->
    <!--速度传感器试验台-->
    <!--<add key="Scheme_ID" value="fa3418ba-3f3d-4c4e-9e97-cd860c270899"/>-->
    <!--温度传感器试验台-->
    <!--<add key="Scheme_ID" value="3ea56688-8e12-4542-ab70-3ea34f4491f2"/>-->
    <!--压力传感器试验台-->
    <!--<add key="Scheme_ID" value="60eb8f71-0e74-465c-82f5-987432f6b970"/>-->
    <!--液位传感器试验台-->
    <!--<add key="Scheme_ID" value="2c54c53e-c35a-472a-8e89-d93b2fa6c6e7"/>-->
    <!--天津大功率司机控制器试验台-->
    <!--<add key="Scheme_ID" value="77beca80-d706-4955-997c-196c2152c860"/>-->
    <!--神朔受电弓试验台-->

    <add key="Scheme_ID" value="61829844-215c-41b4-bec4-7ba8c60a322a"/>
    <add key="DB" value="MySql"/>
    <add key="ConnectionString" value="Host=127.0.0.1;port=3306;Initial Catalog=db_YX1812001;User ID=root;Password=root;charset=gb2312"/>
    
    <!--
		<add key="DB" value="SqlServer"/>
		<add key="ConnectionString" value=""/>
		-->
    <!--不需修改-->
    <add key="DataAccess.BaseAssemeblyName" value="UserModule" />
    <add key="DataAccess.AssemblyName" value="SchemeModule" />
    <!--end 数据库处理对象目录指向-->
    <!--begin 皮肤注入-->
    <add key="DefaultSkin" value="DeepCyan.ssk" />
    <add key="Skin1" value="CalmnessColor2.ssk" />
    <add key="Skin2" value="mp10purple.ssk" />
    <add key="Skin3" value="MSN.ssk" />
    <add key="Skin4" value="DeepCyan.ssk" />
    <add key="Skin5" value="office2007.ssk" />
    <add key="Skin6" value="XPBlue.ssk" />
    <!--end 皮肤注入-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>